./yellow_tripdata_2016-01.csv
/kaggle/test.zip
/kaggle/train.zip
/kaggle/test.csv
/kaggle/train.csv
/find_tribeca_pickups/yellow_tripdata_2016-02.csv
/goog_maps_meteor/
/find_tribeca_pickups/tribeca_data_2016-02.csv
